{{ if .IsHome }}
<script src="/js/clock.js"></script>
<style>
  #central-clock {
    font-size: 1em;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--code-bg);
    display: inline-block;
  }
</style>
{{ end }}
{{ if eq .Layout "register" }}
<meta http-equiv="Content-Security-Policy" content="form-action 'none'; connect-src 'none'">
{{ $registrationCSS := resources.Get "css/register.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $registrationCSS.RelPermalink }}" integrity="{{ $registrationCSS.Data.Integrity }}">
{{ $registrationJS := resources.Get "js/register.js" | minify | fingerprint }}
<script defer src="{{ $registrationJS.RelPermalink }}" integrity="{{ $registrationJS.Data.Integrity }}"></script>
{{ end }}
